<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!-- AppSettings-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="EmailID" value="" />
    <add key="EmailPassword" value="" />

  </appSettings>


  <!-- Connection Strings-->
  <connectionStrings>
    <add name="ConStr" connectionString="server=;database=;uid=;pwd=;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"></add>
  </connectionStrings>

  <system.web>
	<globalization uiCulture="en-IN" culture="en-IN"/>
   
    <!--Session Timeout Value: 120 Means 120 Minutes-->
    <sessionState timeout="120" />


    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>